openapi: 3.2.0
info:
  title: LIVEKINDLY Content API (WordPress REST wp/v2) Search API
  version: wp/v2
  summary: 'Public read surface of thelivekindlyco.com content: newsroom posts, corporate pages, the brand and partner directories, open roles, media and site search.'
  description: 'LIVEKINDLY Collective publishes thelivekindlyco.com on WordPress, which exposes the WordPress REST API at https://thelivekindlyco.com/wp-json/. The wp/v2 namespace is anonymously readable and returns the company newsroom and LiveKindly Blog, corporate pages, the `brand` directory (Fry’s Family Food Co., Like Meat, Oumph!, The No Meat Company), the `partner` directory (PHW Group, RCL Foods, Ospelt, Coest), the `job` careers listings, the media library, taxonomies and a site-wide search endpoint as JSON.


    This document was DERIVED mechanically by API Evangelist from the route-discovery document served at https://thelivekindlyco.com/wp-json/ on 2026-08-04 — every path, method and parameter below is taken verbatim from that descriptor. LIVEKINDLY does not publish an OpenAPI definition of its own, and this is not a product API: it is the content API the CMS exposes. Write operations exist on these routes but require authentication (WordPress Application Passwords over HTTP Basic).'
  contact:
    name: LIVEKINDLY Collective
    url: https://thelivekindlyco.com/
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-from: https://thelivekindlyco.com/wp-json/
  x-derived-on: '2026-08-04'
  x-provider-published: false
servers:
- url: https://thelivekindlyco.com/wp-json
  description: Production
tags:
- name: Search
paths:
  /wp/v2/search:
    get:
      operationId: getSearch
      summary: GET /wp/v2/search
      tags:
      - Search
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Limit result set to specific IDs.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: subtype
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - post
            - page
            - blocks
            - brand
            - partner
            - job
            - category
            - post_tag
            - feed_category
            - any
          default: any
        description: Limit results to items of one or more object subtypes.
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - post
          - term
          - post-format
          default: post
        description: Limit results to items of an object type.
      responses:
        '200':
          description: OK
          headers:
            X-WP-Total:
              description: Total items in the collection.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages at the current per_page.
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      x-anonymous-access: true
components:
  responses:
    Error:
      description: WordPress REST error envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            invalidPostId:
              value:
                code: rest_post_invalid_id
                message: Invalid post ID.
                data:
                  status: 404
            forbidden:
              value:
                code: rest_forbidden
                message: Sorry, you are not allowed to do that.
                data:
                  status: 401
  schemas:
    Error:
      type: object
      description: The WordPress REST error envelope. Not RFC 9457 problem+json.
      properties:
        code:
          type: string
          description: Machine-readable WordPress error code.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
            params:
              type: object
            details:
              type: object
      required:
      - code
      - message
      - data
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords over HTTP Basic. Issued from https://thelivekindlyco.com/wp-admin/authorize-application.php.
    cookieNonce:
      type: apiKey
      in: header
      name: X-WP-Nonce
      description: Logged-in cookie authentication with an X-WP-Nonce header (browser context only).
