openapi: 3.2.0
info:
  title: LIVEKINDLY Content API (WordPress REST wp/v2) Users API
  version: wp/v2
  summary: 'Public read surface of thelivekindlyco.com content: newsroom posts, corporate pages, the brand and partner directories, open roles, media and site search.'
  description: 'LIVEKINDLY Collective publishes thelivekindlyco.com on WordPress, which exposes the WordPress REST API at https://thelivekindlyco.com/wp-json/. The wp/v2 namespace is anonymously readable and returns the company newsroom and LiveKindly Blog, corporate pages, the `brand` directory (Fry’s Family Food Co., Like Meat, Oumph!, The No Meat Company), the `partner` directory (PHW Group, RCL Foods, Ospelt, Coest), the `job` careers listings, the media library, taxonomies and a site-wide search endpoint as JSON.


    This document was DERIVED mechanically by API Evangelist from the route-discovery document served at https://thelivekindlyco.com/wp-json/ on 2026-08-04 — every path, method and parameter below is taken verbatim from that descriptor. LIVEKINDLY does not publish an OpenAPI definition of its own, and this is not a product API: it is the content API the CMS exposes. Write operations exist on these routes but require authentication (WordPress Application Passwords over HTTP Basic).'
  contact:
    name: LIVEKINDLY Collective
    url: https://thelivekindlyco.com/
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-from: https://thelivekindlyco.com/wp-json/
  x-derived-on: '2026-08-04'
  x-provider-published: false
servers:
- url: https://thelivekindlyco.com/wp-json
  description: Production
tags:
- name: Users
paths:
  /wp/v2/users:
    get:
      operationId: getUsers
      summary: GET /wp/v2/users
      tags:
      - Users
      parameters:
      - name: capabilities
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to users matching at least one specific capability provided. Accepts csv list or single capability.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Ensure result set excludes specific IDs.
      - name: has_published_posts
        in: query
        required: false
        schema:
          type: boolean
        description: Limit result set to users who have published posts.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Limit result set to specific IDs.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - registered_date
          - slug
          - include_slugs
          - email
          - url
          default: name
        description: Sort collection by user attribute.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: roles
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to users matching at least one specific role provided. Accepts csv list or single role.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - email
            - name
            - id
            - username
            - slug
          default: []
        description: Array of column names to be searched.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to users with one or more specific slugs.
      - name: who
        in: query
        required: false
        schema:
          type: string
          enum:
          - authors
        description: Limit result set to users who are considered authors.
      responses:
        '200':
          description: OK
          headers:
            X-WP-Total:
              description: Total items in the collection.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages at the current per_page.
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      x-anonymous-access: true
    post:
      operationId: createUsers
      summary: POST /wp/v2/users
      tags:
      - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: Description of the user.
                email:
                  type: string
                  format: email
                  description: The email address for the user.
                first_name:
                  type: string
                  description: First name for the user.
                last_name:
                  type: string
                  description: Last name for the user.
                locale:
                  type: string
                  enum:
                  - ''
                  - en_US
                  description: Locale for the user.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: Display name for the user.
                nickname:
                  type: string
                  description: The nickname for the user.
                password:
                  type: string
                  description: Password for the user (never included).
                roles:
                  type: array
                  items:
                    type: string
                  description: Roles assigned to the user.
                slug:
                  type: string
                  description: An alphanumeric identifier for the user.
                url:
                  type: string
                  format: uri
                  description: URL of the user.
                username:
                  type: string
                  description: Login name for the user.
              required:
              - email
              - password
              - username
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      - cookieNonce: []
      x-anonymous-access: false
  /wp/v2/users/{id}:
    get:
      operationId: getUsersById
      summary: GET /wp/v2/users/(?P<id>[\d]+)
      tags:
      - Users
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Unique identifier for the user.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      x-anonymous-access: true
    post:
      operationId: createUsersById
      summary: POST /wp/v2/users/(?P<id>[\d]+)
      tags:
      - Users
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: Description of the user.
                email:
                  type: string
                  format: email
                  description: The email address for the user.
                first_name:
                  type: string
                  description: First name for the user.
                id:
                  type: integer
                  description: Unique identifier for the user.
                last_name:
                  type: string
                  description: Last name for the user.
                locale:
                  type: string
                  enum:
                  - ''
                  - en_US
                  description: Locale for the user.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: Display name for the user.
                nickname:
                  type: string
                  description: The nickname for the user.
                password:
                  type: string
                  description: Password for the user (never included).
                roles:
                  type: array
                  items:
                    type: string
                  description: Roles assigned to the user.
                slug:
                  type: string
                  description: An alphanumeric identifier for the user.
                url:
                  type: string
                  format: uri
                  description: URL of the user.
                username:
                  type: string
                  description: Login name for the user.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      - cookieNonce: []
      x-anonymous-access: false
    delete:
      operationId: deleteUsersById
      summary: DELETE /wp/v2/users/(?P<id>[\d]+)
      tags:
      - Users
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Required to be true, as users do not support trashing.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Unique identifier for the user.
      - name: reassign
        in: query
        required: true
        schema:
          type: integer
        description: Reassign the deleted user's posts and links to this user ID.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      - cookieNonce: []
      x-anonymous-access: false
  /wp/v2/users/{user_id}/application-passwords:
    get:
      operationId: getUsersByUserIdApplicationPasswords
      summary: GET /wp/v2/users/(?P<user_id>(?:[\d]+|me))/application-passwords
      tags:
      - Users
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      x-anonymous-access: true
    post:
      operationId: createUsersByUserIdApplicationPasswords
      summary: POST /wp/v2/users/(?P<user_id>(?:[\d]+|me))/application-passwords
      tags:
      - Users
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                app_id:
                  type: string
                  description: A UUID provided by the application to uniquely identify it. It is recommended to use an UUID v5 with the URL or DNS namespace.
                name:
                  type: string
                  description: The name of the application password.
              required:
              - name
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      - cookieNonce: []
      x-anonymous-access: false
    delete:
      operationId: deleteUsersByUserIdApplicationPasswords
      summary: DELETE /wp/v2/users/(?P<user_id>(?:[\d]+|me))/application-passwords
      tags:
      - Users
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      - cookieNonce: []
      x-anonymous-access: false
  /wp/v2/users/{user_id}/application-passwords/{uuid}:
    get:
      operationId: getUsersByUserIdApplicationPasswordsByUuid
      summary: GET /wp/v2/users/(?P<user_id>(?:[\d]+|me))/application-passwords/(?P<uuid>[\w\-]+)
      tags:
      - Users
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
      - name: uuid
        in: path
        required: true
        schema:
          type: string
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      x-anonymous-access: true
    post:
      operationId: createUsersByUserIdApplicationPasswordsByUuid
      summary: POST /wp/v2/users/(?P<user_id>(?:[\d]+|me))/application-passwords/(?P<uuid>[\w\-]+)
      tags:
      - Users
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
      - name: uuid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                app_id:
                  type: string
                  description: A UUID provided by the application to uniquely identify it. It is recommended to use an UUID v5 with the URL or DNS namespace.
                name:
                  type: string
                  description: The name of the application password.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      - cookieNonce: []
      x-anonymous-access: false
    delete:
      operationId: deleteUsersByUserIdApplicationPasswordsByUuid
      summary: DELETE /wp/v2/users/(?P<user_id>(?:[\d]+|me))/application-passwords/(?P<uuid>[\w\-]+)
      tags:
      - Users
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
      - name: uuid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      - cookieNonce: []
      x-anonymous-access: false
  /wp/v2/users/{user_id}/application-passwords/introspect:
    get:
      operationId: getUsersByUserIdApplicationPasswordsIntrospect
      summary: GET /wp/v2/users/(?P<user_id>(?:[\d]+|me))/application-passwords/introspect
      tags:
      - Users
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      x-anonymous-access: true
  /wp/v2/users/me:
    get:
      operationId: getUsersMe
      summary: GET /wp/v2/users/me
      tags:
      - Users
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: OK
          headers:
            X-WP-Total:
              description: Total items in the collection.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages at the current per_page.
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      x-anonymous-access: true
    post:
      operationId: createUsersMe
      summary: POST /wp/v2/users/me
      tags:
      - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: Description of the user.
                email:
                  type: string
                  format: email
                  description: The email address for the user.
                first_name:
                  type: string
                  description: First name for the user.
                last_name:
                  type: string
                  description: Last name for the user.
                locale:
                  type: string
                  enum:
                  - ''
                  - en_US
                  description: Locale for the user.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: Display name for the user.
                nickname:
                  type: string
                  description: The nickname for the user.
                password:
                  type: string
                  description: Password for the user (never included).
                roles:
                  type: array
                  items:
                    type: string
                  description: Roles assigned to the user.
                slug:
                  type: string
                  description: An alphanumeric identifier for the user.
                url:
                  type: string
                  format: uri
                  description: URL of the user.
                username:
                  type: string
                  description: Login name for the user.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      - cookieNonce: []
      x-anonymous-access: false
    delete:
      operationId: deleteUsersMe
      summary: DELETE /wp/v2/users/me
      tags:
      - Users
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Required to be true, as users do not support trashing.
      - name: reassign
        in: query
        required: true
        schema:
          type: integer
        description: Reassign the deleted user's posts and links to this user ID.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      - cookieNonce: []
      x-anonymous-access: false
components:
  responses:
    Error:
      description: WordPress REST error envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            invalidPostId:
              value:
                code: rest_post_invalid_id
                message: Invalid post ID.
                data:
                  status: 404
            forbidden:
              value:
                code: rest_forbidden
                message: Sorry, you are not allowed to do that.
                data:
                  status: 401
  schemas:
    Error:
      type: object
      description: The WordPress REST error envelope. Not RFC 9457 problem+json.
      properties:
        code:
          type: string
          description: Machine-readable WordPress error code.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
            params:
              type: object
            details:
              type: object
      required:
      - code
      - message
      - data
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords over HTTP Basic. Issued from https://thelivekindlyco.com/wp-admin/authorize-application.php.
    cookieNonce:
      type: apiKey
      in: header
      name: X-WP-Nonce
      description: Logged-in cookie authentication with an X-WP-Nonce header (browser context only).
