openapi: 3.2.0
info:
  title: LIVEKINDLY Content API (WordPress REST wp/v2) Settings API
  version: wp/v2
  summary: 'Public read surface of thelivekindlyco.com content: newsroom posts, corporate pages, the brand and partner directories, open roles, media and site search.'
  description: 'LIVEKINDLY Collective publishes thelivekindlyco.com on WordPress, which exposes the WordPress REST API at https://thelivekindlyco.com/wp-json/. The wp/v2 namespace is anonymously readable and returns the company newsroom and LiveKindly Blog, corporate pages, the `brand` directory (Fry’s Family Food Co., Like Meat, Oumph!, The No Meat Company), the `partner` directory (PHW Group, RCL Foods, Ospelt, Coest), the `job` careers listings, the media library, taxonomies and a site-wide search endpoint as JSON.


    This document was DERIVED mechanically by API Evangelist from the route-discovery document served at https://thelivekindlyco.com/wp-json/ on 2026-08-04 — every path, method and parameter below is taken verbatim from that descriptor. LIVEKINDLY does not publish an OpenAPI definition of its own, and this is not a product API: it is the content API the CMS exposes. Write operations exist on these routes but require authentication (WordPress Application Passwords over HTTP Basic).'
  contact:
    name: LIVEKINDLY Collective
    url: https://thelivekindlyco.com/
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-from: https://thelivekindlyco.com/wp-json/
  x-derived-on: '2026-08-04'
  x-provider-published: false
servers:
- url: https://thelivekindlyco.com/wp-json
  description: Production
tags:
- name: Settings
paths:
  /wp/v2/settings:
    get:
      operationId: getSettings
      summary: GET /wp/v2/settings
      tags:
      - Settings
      responses:
        '200':
          description: OK
          headers:
            X-WP-Total:
              description: Total items in the collection.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages at the current per_page.
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      x-anonymous-access: true
    post:
      operationId: createSettings
      summary: POST /wp/v2/settings
      tags:
      - Settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date_format:
                  type: string
                  description: A date format for all date strings.
                default_category:
                  type: integer
                  description: Default post category.
                default_comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Allow people to submit comments on new posts.
                default_ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Allow link notifications from other blogs (pingbacks and trackbacks) on new articles.
                default_post_format:
                  type: string
                  description: Default post format.
                description:
                  type: string
                  description: Site tagline.
                email:
                  type: string
                  format: email
                  description: This address is used for admin purposes, like new user notification.
                language:
                  type: string
                  description: WordPress locale code.
                page_for_posts:
                  type: integer
                  description: The ID of the page that should display the latest posts
                page_on_front:
                  type: integer
                  description: The ID of the page that should be displayed on the front page
                posts_per_page:
                  type: integer
                  description: Blog pages show at most.
                show_on_front:
                  type: string
                  description: What to show on the front page
                site_icon:
                  type: integer
                  description: Site icon.
                site_logo:
                  type: integer
                  description: Site logo.
                start_of_week:
                  type: integer
                  description: A day number of the week that the week should start on.
                time_format:
                  type: string
                  description: A time format for all time strings.
                timezone:
                  type: string
                  description: A city in the same timezone as you.
                title:
                  type: string
                  description: Site title.
                url:
                  type: string
                  format: uri
                  description: Site URL.
                use_smilies:
                  type: boolean
                  description: Convert emoticons like :-) and :-P to graphics on display.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      - cookieNonce: []
      x-anonymous-access: false
components:
  responses:
    Error:
      description: WordPress REST error envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            invalidPostId:
              value:
                code: rest_post_invalid_id
                message: Invalid post ID.
                data:
                  status: 404
            forbidden:
              value:
                code: rest_forbidden
                message: Sorry, you are not allowed to do that.
                data:
                  status: 401
  schemas:
    Error:
      type: object
      description: The WordPress REST error envelope. Not RFC 9457 problem+json.
      properties:
        code:
          type: string
          description: Machine-readable WordPress error code.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
            params:
              type: object
            details:
              type: object
      required:
      - code
      - message
      - data
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords over HTTP Basic. Issued from https://thelivekindlyco.com/wp-admin/authorize-application.php.
    cookieNonce:
      type: apiKey
      in: header
      name: X-WP-Nonce
      description: Logged-in cookie authentication with an X-WP-Nonce header (browser context only).
